@font-face {
    font-family: "InspireTWDC";
    src: url(Fonts/InspireTWDC-Black.woff);
    font-weight: bold;
}

@font-face {
    font-family: "InspireTWDC";
    src: url(Fonts/InspireTWDC-Roman-0679a1b070d1.woff);
    font-weight: normal;
}

* {
    font-family: "InspireTWDC";
}

:root {
    --white-color: #f8f8f8;
    --black-color: #222222;
    --background-color: #f1f2f3;
    --dark-blue: #050d40;
    --light-blue: #0074d5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'InspireTWDC';
    background-color: rgba(0, 0, 0, 0.05);
}

a:link {
    text-decoration: none;
    color: #222222;
}

a:visited {
    text-decoration: none;
    color: #222222;
}

a:hover {
    text-decoration: none;
    color: #222222;
}

a:active {
    text-decoration: none;
    color: #222222;
}

header {
    width: 100%;
    height: 63px;
    line-height: 63px;
    vertical-align: middle;
}

nav>* {
    font-weight: bold;
    vertical-align: middle;
}

nav {
    background-color: white;
    font-size: 14px;
}

nav img {
    width: 95px;
    height: 40px;
    margin-left: 10px;
    margin-right: 13px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    padding-left: 30px;
}

section {
    width: 100%;
    height: 87vh;
    background-image: url(Images/portada_soul.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin: 0;
    border: 0px solid transparent;
}

h2 img {
    position: absolute;
}

p {
    margin: 0;
}

#soulpost {
    float: right;
    width: 42%;
    color: white;
    height: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#letras {
    width: 80%;
}

#souletrasp {
    font-size: 15px;
}

#soulpost button {
    margin-top: 10px;
    background-color: #0074d5;
    border: none;
    border-radius: 25px;
    color: white;
    width: 250px;
    padding: 15px;
    font-size: 15px;
}

table {
    margin: 0 auto;
}

table,
tr,
td {
    border-collapse: collapse;
}

.tablaimg {
    padding: 15px 10px 0px 10px;
    background: white;
    width: 320px;
    background-clip: content-box;
}

table img {
    width: 100%;
}

table p {
    margin: 0 10%;
    vertical-align: middle;
}

.titulo {
    font-size: 20px;
    margin: 10% 10%;
}

.subt {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.ultimafila {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8%;
}

.fondo {
    padding: 0px 11px 0px 11px;
    background: white;
    background-clip: content-box;
}

#tira {
    vertical-align: baseline;
}

#marcasdis {
    width: 60%;
    margin: 25px auto;
    margin-bottom: 10px;
}

#marcas {
    width: 100%;
    margin: 0 auto;
}

#grupillo {
    width: 16.5%;
    height: 40px;
    margin: 0 auto;
}

#novedades button {
    background-color: #0074d5;
    border: none;
    border-radius: 25px;
    color: white;
    width: 250px;
    padding: 15px;
    font-size: 15px;
    font-weight: 800;
}

#parrafillo {
    font-weight: 200;
    font-size: 13px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    width: 80%;
}

li {
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin: 20px 10px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    margin: 10px 0;
    text-align: left;
}

#novedades {
    background-color: #050d40;
    color: white;
}

#marcas {
    width: 60%;
}

#botoncillo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#tuku {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-weight: 100;
    font-size: 30px;
}

#sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#sociales img {
    width: 30px;
}

#logofinal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#logillo {
    width: 85px;
    height: 35px;
}

.carrusela {
    display: flex;
    width: 80%;
    font-size: 12px;
    font-weight: 100;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #222222;
}

#carrusela2 {
    display: flex;
    width: 80%;
    font-size: 12px;
    font-weight: 100;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: #222222;
}

.tienda {
    text-align: center;
    margin-top: 45px;
    font-size: 30px;
}

#tiendaportada {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/shop_disney_generic_banner_fy24_short_hero_v1_ab81a272.jpeg?region=0,0,3200,1068&width=1200);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 450px;
    margin: 0 auto;
}

#insidetiendaportada {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#insidetiendaportada img {
    width: 55%;
}

#insidetiendaportada p {
    color: white;
}

#insidetiendaportada a {
    color: transparent;
    border: none;
    color: white;
    margin-top: 10px;
    font-weight: 800;
}

#viajes {
    width: 90%;
    margin: 0 auto;
    height: 525px;
}

#primer {
    width: 49%;
    float: left;
    background-color: white;
    margin-right:5px;
    height: 100%;
}

#secun {
    width: 49%;
    float: right;
    background-color: white;
    height: 100%;
}

#primer h3 {
    padding-left: 25px;
    padding-top: 20px;
    font-weight: 200;
}

#primer p {
    padding-left: 25px;
    font-size: 14px
}

#primer h5 {
    padding: 25px;
}

#secun h3 {
    padding-left: 25px;
    padding-top: 20px;
    font-weight: 200;
}

#secun p {
    padding-left: 25px;
    font-size: 14px
}

#secun h5 {
    padding: 25px;
}

footer {
    background-color: white;
}

#donda {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    height: 400px ;
}
 
#donda img {
    width: 20%;
    height: 100%;
    padding: 0px 10px;
    border-radius: 15px;
}

#donda p {
    width: 50%;
}

#spanillo {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 15px;
}

#spanillo span+span {
    margin-left: 100px;
}



